.banner {
  padding: 12px;
  font-size: 16px;
  width: 900px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 22px 0 22px 0;
}

.banner h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.banner i {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.banner p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
  margin-top: 0;
}

.banner.success {
  background-color: #ecfdf5;
  color: #047857;
}

.banner.warning {
  background-color: #fffbeb;
  color: #b45309;
}

.banner.error {
  background-color: #fef2f2;
  color: #b45309;
}

.banner.neutral {
  background-color: #eff6ff;
  color: #1c51b9;
}

.banner.success h1 {
  color: #065f46;
}

.banner.warning h1 {
  color: #92400e;
}

.banner.error h1 {
  color: #92400e;
}

.banner.neutral h1 {
  color: #1e40af;
}
